<div class="btn-group1" ng-controller= "GetUpdatedDataController">
	<!-- <a class="button" id="waiterbadge" href="#/waitercall" style="color: #ffffff;" data-badge="{{waiter}}">Call Waiter</a>
	<a class="button" id="waterbadge" href="#/watercall" style="color: #ffffff;" data-badge="{{water}}">Call Water</a> -->
	<a class="button" id="neworder" href="#/placedorder" style="color: #ffffff;" data-badge="{{new_order}}">Placed Order</a>
	<a class="button" id="confirmedorder" href="#/confirmedorder" style="color: #ffffff;" data-badge="{{confirm_order}}">Confirmed Order</a>
	<a class="button" id="neworder" href="#/placedbarorder" style="color: #ffffff;background-color: #fecd15">Placed Order</a>
	<a class="button" id="confirmedorder" href="#/confirmbarorder" style="color: #ffffff;background-color: #fecd15">Confirmed Order</a>
	<a class="button" id="genratebill" href="#/billordermanagement"style="color: #ffffff;" data-badge="{{billed}}">Generate Bill</a>
	<div growl></div>
</div>
			
