<div id="updateorder">
  <div class="form-group row">
    <label for="tableno" class="col-sm-2 col-form-label">Table No:</label>
    <div class="col-sm-2">
      <select id="tableno" class="form-control" ng-model ="tableid" ng-change="displayPlacedOrder()"></select>
    </div>
  </div>
  <div ng-show="displaytable">
		<table class="table table-bordered table-hover table-condensed">
			<tr>
				<th ng-hide=true>#</th>
				<th>Order Id</th>
				<th>Customer Name</th>
				<th>Order Details</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat="order in orders" class="editable-row">
				<td class="table-id" ng-hide=true>{{$index+1}}</td>
				<td class="table-id" ng-model="order.orderid">{{order.orderid}}</td>
				<td class="table-id" ng-model="order.customerName">{{order.customerName}}</td>
				<td>
					<span editable-text="order.formatorderinstruction" e-name="formatorderinstruction" e-form="rowform" e-required> 
						{{ order.formatorderinstruction || 'empty' }} 
					</span>
				</td>
				<td>
					<form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == order">
						<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">Save</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">Cancel</button>
					</form>
					<div class="buttons" ng-show="!rowform.$visible">
						<button class="btn btn-primary editable-table-button btn-xs" ng-click="editOrder($index)">Edit</button>
						<button class="btn btn-danger editable-table-button btn-xs" ng-click="removeOrder(order.orderid)">Delete</button>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<!-- Edit order model -->
<div id="editOrder" class="modal fade in" aria-hidden="false" style="display: block;" ng-show="showModal">  
     <div class="modal-dialog">    
         <div class="modal-content">
         	<button type="button" class="close" ng-click="showModal=false">&times;</button>
         	<div class="modal-header" style="background-color: #337ab7;color: #fff;">   
             	Edit Order
            </div>
            <div class="modal-body">
           		<form action="#" id="ordermodelform" class="form-horizontal">
					<div class="form-group row">
						<label for="orderid" class="col-sm-2 col-form-label">Order Number: </label>
						<div class="col-sm-6">
							<span id="orderid" ng-model="editdata.orderid">{{editdata.orderid}}</span>
						</div>
					</div>
					 
				  <div class="form-group row">
				    <label for="category" class="col-sm-2 col-form-label">Select Dish:</label>
					    <div class="col-sm-9">
					    	<div class="col-sm-4">
					    		<select id="dish" class="form-control"></select>
					    	</div>
			    			<input type="button" class="btn btn-primary addnew" value="Add New" ng-click="addNew()">
							<div id="ordertablediv" >
								<table id="ordertable"class="table table-striped table-bordered" style="margin-top: 10px;">
									<thead>
										<tr>
											<th>
											<input id="checkboxes" name="checkboxes" type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
											<th>Dish Name</th>
											<th>Quantity</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="dishDetail in editdata.dishDetails" id="{{dishDetail.name}}tr">
											<td><input id="checkboxes" name="checkboxes" type="checkbox" ng-model="dishDetail.selected" /></td>
											<td><input id="dishname" name="dishname" type="text" class="form-control d" ng-model="dishDetail.name" required  readonly="readonly"/></td>
											<td>
												<input id="{{$index}}" type='button' value='-' class='qtyminus' ng-click="decrement($event)" />
			    								<input id= "{{$index}}textbox" type='text' name='quantity' ng-model="dishDetail.qty" class='qty' />
			    								<input id="{{$index}}" type='button' value='+' class='qtyplus' ng-click="increment($event)" />
											</td>
											<td style="display: none;"><input type="hidden" class="price" value="{{dishDetail.dish_price}}"/></td>
										</tr>
									</tbody>
								</table>
			
								<div class="form-group">
									<p id="errormsg"></p>
									<input ng-hide="!dishDetails.length" type="button" class="btn btn-danger pull-right" ng-click="remove()" value="Remove"> 
								</div>
							</div>
								
							<div class="form-group">
								<div class="btn-group">
									<button type="submit" class="btn btn-info spacing">Update Order</button>
									<button type="button" class="btn btn-danger spacing" ng-click="removeOrder(editdata.orderid)">Cancel Order</button>
									<button type="button" class="btn btn-primary" ng-click="showModal=false">Close</button>  
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
   		</div>  
 	</div>
 </div>