<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="showModal = !showModal">Add Campaign</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <th># Serial No</th>
     <th></th>
    <th>Campaign Name</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="ad in ads" class="editable-row">
    <td class="table-id">
        {{$index+1}}
    </td>
    <td e-name="id" style="display:none">
        {{dish.id}}
    </td>
    <td>
        <span editable-text="ad.adname" e-name="adname" e-form="rowform" e-required>
          {{ ad.adname || 'empty' }}
        </span>
    </td>
    
    <td class="select-td">
        <span editable-select="ad.price" e-name="price" e-form="rowform">
          {{ ad.price || 'empty'}}
        </span>
    </td>
    <td>
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == ad">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
          Save
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          Cancel
        </button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="editAd($index)">Edit</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeAd(ad.id)">Delete</button>
      </div>
    </td>
  </tr>
</table>


<!-- Modal window popup -->

 <div id="addupdate" class="modal fade in" aria-hidden="false" style="display: block;" ng-show="showModal">  
     <div class="modal-dialog">    
         <div class="modal-content">
         	<button type="button" class="close" ng-click="showModal=false">&times;</button>
         	<div class="modal-header" style="background-color: #337ab7;color: #fff;">   
        		New Campaign
            </div>
            <div class="modal-body">
           		<form action="#" id="addads" class="form-horizontal">
           			<div class="form-group row">
						<label for="adname" class="col-sm-2 col-form-label">ID:</label>
						<div class="col-sm-6">
							<input type="text" name="adid" id="adid" value="{{editdata.id}}" ng-disabled="true" />
						</div>
					</div>
					
					<div class="form-group row">
						<label for="adname" class="col-sm-2 col-form-label">Campaign Name:</label>
						<div class="col-sm-6">
							<input type="text" name="adname" id="adname" value="{{editdata.adname}}" />
						</div>
					</div>
	
					<div class="form-group row">
						<label for="description" class="col-sm-2 col-form-label">Description:</label>
						<div class="col-sm-6">
							<textarea name="description" id="description">{{editdata.description}}</textarea>
						</div>
					</div>
	
					<div class="form-group row">
						<label for="banner" class="col-sm-2 col-form-label">Banner:</label>
						<div class="col-sm-6">
							<input id="banner" name="banner" type="file" class="file-loading"/>
							<img id="myImg" ng-src="data:image/jpeg;base64,{{editdata.adimg}}" width="200px" height="200px"/>
						</div>
					</div>
					
				<!-- 	<div class="form-group row">
						<label for="banner" class="col-sm-2 col-form-label">status:</label>
						<div class="col-sm-6">
						<span>{{editdata.status}}</span>
						</div>
					</div> -->
					
					<div class="form-group row">
						<label for="price" class="col-sm-2 col-form-label">Price:</label>
						<div class="col-sm-6">
						<input type="text" name="adprice" id="adprice" value="{{editdata.adprice}}" />
						</div>
					</div>
					
					<div class="form-group">
						<div class="btn-group">
							<button type="submit" class="btn btn-info spacing">Add / Update Campaign</button>
							<button type="button" class="btn btn-primary" ng-click="showModal=false">Close</button>  
						</div>
					</div>
				</form>
			</div>
         </div>  
     </div>
 </div>