<div class = "container">
	<div class="wrapper">
		<div name="Login_Form" class="form-signin">       
		      <h3 class="form-signin-heading">Welcome Back! Please Login</h3>
			  <hr class="colorgraph"><br>
			  <input type="text" class="form-control" ng-model="username" placeholder="Username" required autofocus />
			  <input type="password" class="form-control" ng-model="password" placeholder="Password" required/>     		  
			  <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="doAuthenticate(username,password)">Login</button>  			
		</div>			
	</div>
</div>