<span style="font-size: 30px; cursor: pointer; left: 0; position: fixed;" ng-click="openNav()">&#9776;</span>
<div id="mySidenav" class="sidenav scrollbar">
 	<a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&#9776; Billy</a>
	<!-- <li><a href="#/dashboard">Dashboard</a></li> -->
	<li><a href="#/placedbarorder"><span> - View Placed Orders</span></a></li>
	<li><a href="#/confirmbarorder"><span> - View Confirmed Orders</span></a></li>
	<li><a href="#/pendingbarorder"><span> - View Pending Orders</span></a></li>
	
</div>